@model KlinikaVeterinareTI2.ViewModels.RegisterViewModel
@using KlinikaVeterinareTI2.Utilities
@{
    ViewData["Title"] = "Shto Perdorues";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="card shadow mb-4 border-bottom-primary">
        <div class="card-header py-3 d-flex align-items-center">
            <a asp-action="Index" class="btn btn-primary btn-sm btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-arrow-left"></i>
                </span>
            </a>
            <h6 class="m-0 ml-2 font-weight-bold text-primary">@ViewData["Title"]</h6>
        </div>
        <div class="px-5">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <label asp-for="FirstName"></label>
                        <input asp-for="FirstName" class="form-control" id="exampleFirstName" placeholder="First Name">
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6">
                        <label asp-for="LastName"></label>
                        <input asp-for="LastName" class="form-control" id="exampleLastName" placeholder="Last Name">
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Birthday"></label>
                    <input asp-for="Birthday" class="form-control" />
                    <span asp-validation-for="Birthday" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Gender"></label>
                    <select asp-for="Gender" class="form-control">
                        <option selected>Zgjedh...</option>
                        <option value="@StaticDetails.Male">@StaticDetails.Male</option>
                        <option value="@StaticDetails.Female">@StaticDetails.Female</option>
                        <option value="@StaticDetails.Other">@StaticDetails.Other</option>
                    </select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNo"></label>
                    <input asp-for="PhoneNo" class="form-control" placeholder="Phone Number" />
                    <span asp-validation-for="PhoneNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" placeholder="Email Address" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" id="exampleInputPassword" placeholder="Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6">
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" class="form-control" id="exampleRepeatPassword" placeholder="Repeat Password" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <hr />
                <div class="form-group col-md-12 text-center">
                    <button type="submit" class="btn btn-primary btn-sm btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-save"></i>
                        </span>
                        <span class="text">Ruaj</span>
                    </button>
                    <a asp-action="Index" class="btn btn-danger btn-sm btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-arrow-left"></i>
                        </span>
                        <span class="text">Anulo</span>
                    </a>
                </div>

            </form>

        </div>
    </div>
</div>